* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar{
    background: linear-gradient(to bottom, #d4a373, #f1dabf, #ede0d4);
    display: flex;
    align-items: center;
}

#navbar a{
    display: inline-block;
    text-decoration: none;
    color: #4b2a15;
    padding: 24px;
}

#navbar #logo{
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}

#navbar a:hover{
    background: linear-gradient(to top, #d4a373, #f1dabf, #ede0d4);
}

.dropdown-container{
    position: relative;
}

.dropdown-menu{
    position: absolute;
}

.dropdown-menu a{
    background-color: #df8d26;
    width: 100%;
    min-width: 200px;
    transition:
        background-color .5s,
        color .5s;
}

#navbar .dropdown-menu a:hover{
    background: #d4a373;
}

.dropdown-menu{
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.25s,
        visibility 0.25s;
}

.dropdown-container:hover .dropdown-menu{
    opacity: 1;
    visibility: visible;
}

.dropdown-container:last-child .dropdown-menu{
    right: 0px;
}

#webpage{
    background-image: url(../images/t-background.png);
    background-size: cover;
}

#hero-1 {
    background-image: url("../images/hero.jfif");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    margin-bottom: 100px;
}

#hero-1 .hero-content {
    position: absolute;
    top: 10%;
    left: 15%;
    color: #c49b75;
}

#hero-1 h2 {
    font-size: 72px;
    margin-bottom: 36px;
}

#hero-1 h4 {
    font-size: 24px;
    margin: 0px;
}

#hero-1 a {
    font-size: 14px;
    display: inline-block;
    background-color: #333333;
    color: white;
    text-decoration: none;
    padding: 24px;
    margin-top: 36px;
    margin-right: 24px;
}

#footer{
    background: linear-gradient(to bottom, #d4a373, #f1dabf, #ede0d4);
    display: flex;
    align-items: center;
}

#footer a{
    display: inline-block;
    text-decoration: none;
    color: #4b2a15;
    padding: 24px;
}

#footer #logo{
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}

#footer a:hover{
    background: linear-gradient(to top, #d4a373, #f1dabf, #ede0d4);
}

#menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card {
    border: 3px solid #4b2a15;
    padding: 36px;
    text-align: center;
    margin: 36px;
    max-height: 500px;
}


.card h2{
    font-size: xx-large;
    margin-top: 0px;
}

.food-item{
    margin-bottom: 20px;
}

.food-item h4{
    margin-bottom: 1px;
    text-align: left;
}

.food-item p{
    margin-top: 9px;
}

.item{
    font-size: larger;
    margin-right: 60px;
}

.price{
    font-size: small;
    margin-left: 100px;
    text-align: right;
}

.sub-price{
    font-size: x-small;
}

/*Tablet screen*/
@media screen and (max-width: 750px) and (min-width: 450px) {
    body{

    }

    #navbar{
        font-size: 10px;
        display: flex;
        align-items: center;
    }
    #navbar a{
        padding: 5px;
    }

    .dropdown-menu a{
        width: 50%;
        min-width: 100px;
    }

    #hero-1 h2 {
        font-size: 27px;
        margin-bottom: 26px;
    }

    #hero-1 h4{
        font-size: 14px;
    }

    #hero-1 a{
        font-size: 10px;
        padding: 14px;
        margin-top: 16px;
        margin-right: 14px;
    }
    
    #footer{
        font-size: 10px;
        display: flex;
        align-items: center;
    }
    #footer a{
        padding: 5px;
    }

    #menu{
        grid-template-columns: 1fr 1fr;
    }
    
    .food-item p{
        font-size: 10px;
    }

    .item{
        font-size: 14px;
        margin-right: 5px;
    }

    .price{
        font-size: 10px;
        margin-left: 25px;
    }
}

/*Phone Screen*/
@media screen and (max-width: 450px) {
    body{

    } 

    #navbar{
        font-size: 10px;
        display: flex;
        align-items: center;
    }
    #navbar a{
        padding: 5px;
    }

    .dropdown-menu a{
        width: 50%;
        min-width: 100px;
    }

    #hero-1 h2 {
        font-size: 27px;
        margin-bottom: 26px;
    }

    #hero-1 h4{
        font-size: 14px;
    }

    #hero-1 a{
        font-size: 10px;
        padding: 14px;
        margin-top: 16px;
        margin-right: 14px;
    }
    
    #footer{
        font-size: 10px;
        display: flex;
        align-items: center;
    }
    #footer a{
        padding: 5px;
    }

    #menu{
        grid-template-columns: 1fr;
    }
    
    
    .food-item p{
        font-size: 10px;
    }

    .item{
        font-size: 14px;
        margin-right: 5px;
    }

    .price{
        font-size: 10px;
        margin-left: 25px;
    }
}